body {
    color: navy;
    /*background:papayaWhip*/
    background: MediumTurquoise;
    font-family: Garamond, serif;

}

div.side-by-side {
    display: flex;
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color: pink;
    font-size: smaller;
}
nav{
    
    background:#ffc072;
}